<main class="container center" id="main">

  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <app-addbudget></app-addbudget>
        <app-addexpense></app-addexpense>

              </div>
    </div>
  </div>

<section class="container center">
<app-piechart></app-piechart>
</section>
<section class="container center" height="200px" width="200px">
<app-donutchart></app-donutchart>
</section>
<section class="container center">
  <app-barchart></app-barchart>
</section>
</main>

