<main class="container center" id="main">

  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 cell">
        <h2>Profile</h2>

        <h3>Email</h3>
        <p>
          {{email}}
        </p>
      </div>
    </div>
  </div>

<div class="container center">
<app-piechart></app-piechart>
</div>
<section class="container center" height="200px" width="200px">
<app-donutchart></app-donutchart>
</section>
<div class="container center">
  <app-barchart></app-barchart>
</div>
</main>

